bumpversion
pylint
tox
# Disable pytest (3.1.2) due to a bug
# https://github.com/pytest-dev/pytest/issues/2501
pytest>=3.0.0,!=3.1.2
py>=1.4.29
mock
pytest-cov
Sphinx
psutil
pytest-timeout
pytest-cov
